body {
  margin: 0;
}
img {
  width: 100%;
}
#screen {
  aspect-ratio: 16/9;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
#game {
  grid-area: 1 / 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}
#game_background {
  grid-area: 1 / 1;
  background-image: url(images/farm.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}
#game_elements {
  grid-area: 1 / 1;
  position: relative;
}
#game_over {
  grid-area: 1/1;
  z-index: 999;
  display: grid;
  justify-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}
#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}

#mouse1_container {
  position: absolute;
  left: -25vh;
  top: 40vh;
}
#mouse1_sprite {
  width: 20vh;
  transform: scaleX(-1);
}

#mouse2_container {
  position: absolute;
  left: -25vh;
}
#mouse2_sprite {
  width: 25vh;
  transform: scaleX(-1);
}
#cat1_container {
  position: absolute;
  left: -20vh;
}
#cat1_sprite {
  width: 20vh;
}
#cat2_container {
  position: absolute;
  left: -20vh;
  top: 23vh;
}
#cat2_sprite {
  width: 20vh;
}

.position1 {
  top: 15vh;
  left: 0;
}
.position2 {
  top: 30vh;
  left: 0;
}
.position3 {
  top: 45vh;
  left: 0;
}
.position4 {
  top: 60vh;
  left: 0;
}
.position5 {
  bottom: 75vh;
  left: 0;
}

.speed1 {
  animation-duration: 3s;
}
.speed2 {
  animation-duration: 4s;
}
.speed3 {
  animation-duration: 5s;
}
.speed4 {
  animation-duration: 6s;
}
#game_ui {
  position: absolute;
  top: 2vw;
  right: 1vw;
  color: white;

  font-size: 2em;

  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 9fr 25fr;
  gap: 0.1em;
}

#hay_count {
  white-space: nowrap;
  text-align: right;
}

#hay_image {
  width: 5em;
}

#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}
#life_board img {
  width: 100%;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

/* animations */

.leftzigzag {
  animation-name: leftzigzag;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes leftzigzag {
  0% {
    transform: translate(50%, 0);
  }
  100% {
    transform: translate(1000%, 0);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes zoom_out {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(-720deg) scale(0);
  }
}

.paused {
  animation-play-state: paused;
}
.hidden,
#game_over.hidden,
#level_complete.hidden {
  display: none;
}

/* body {
  margin: 0;
}
img {
  width: 100%;
}
#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  display: grid;
  grid-template: 100% / 100%;
}
#game {
  grid-area: 1/1;
  display: grid;
  grid-template: 100%/100%;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_elements {
  grid-area: 1/1;
  overflow: hidden;
  position: relative;
}
#game_background {
  grid-area: 1/1;
}
#game_over {
  grid-area: 1/1;
  z-index: 999;
  display: grid;
  justify-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}
#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}

#mouse1_container {
  position: absolute;
  top: 15vh;
  right: -20vh;
}
#mouse1_sprite {
  width: 20vh;
}

#mouse2_container {
  position: absolute;
  top: 40vh;
  left: -20vh;
  transform: scaleX(-1);
}
#mouse2_sprite {
  width: 25vh;
  transform: scaleX(-1);
}
#cat1_container {
  position: absolute;
  top: 40vh;
  left: -20vh;
}
#cat1_sprite {
  width: 20vh;
}
#cat2_container {
  position: absolute;
  top: 20vh;
  right: -20vh;
}
#cat2_sprite {
  width: 20vh;
  transform: scaleX(-1);
}

#game_ui {
  position: absolute;
  top: 2vw;
  right: 1vw;
  color: white;

  font-size: 2em;

  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 9fr 25fr;
  gap: 0.1em;
}

#hay_count {
  white-space: nowrap;
  text-align: right;
}

#hay_image {
  width: 5em;
}

#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}
#life_board img {
  width: 100%;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

/* animations */
/* 
.rightzigzag {
  animation-name: rightzigzag;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.leftzigzag {
  animation-name: leftzigzag;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#cat1 {
  animation-name: cat1;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

#cat2 {
  animation-name: cat2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes zoom_out {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(-720deg) scale(0);
  }
}

@keyframes rightzigzag {
  0% {
    transform: translate(-30%, -50%);
  }
  30% {
    transform: translate(-320%, 200%);
  }
  70% {
    transform: translate(-650%, 30%);
  }
  100% {
    transform: translate(-1000%, 400%);
  }
}

@keyframes leftzigzag {
  0% {
    transform: translate(50%, -60%);
  }
  30% {
    transform: translate(320%, 110%);
  }
  70% {
    transform: translate(620%, 50%) scale(0.75);
  }
  100% {
    transform: translate(1000%, 400%);
  }
}

@keyframes cat1 {
  0% {
    transform: translate(-150vh, -150%);
  }
  30% {
    transform: translate(-80vh, -110%) scale(1.25) rotate(360deg);
  }
  80% {
    transform: translate(50vh, 30%);
  }
  100% {
    transform: translate(50vh, 30%);
  }
}
@keyframes cat2 {
  0% {
    transform: translate(-300%, 75%);
  }
  30% {
    transform: translate(200%, -210%) scale(0.4);
  }
  70% {
    transform: translate(10%, -180%);
  }
  100% {
    transform: translate(-300%, 200%);
  }
}
.paused {
  animation-play-state: paused;
}
.hidden,
#game_over.hidden,
#level_complete.hidden {
  display: none;
} */
