body {
  margin: 0;
}
img {
  width: 100%;
}
#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#game_backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url(/images/farm.jpg);
  background-size: cover;
}

#mouse1 {
  width: 22%;
  position: absolute;
  top: 18%;
  left: 37%;
}

#mouse2 {
  width: 18%;
  position: absolute;
  top: 35%;
  left: 15%;
}

#cat1 {
  width: 14%;
  position: absolute;
  top: 72%;
  left: 73%;
}

#cat2 {
  width: 18%;
  position: absolute;
  top: 67%;
  left: 45%;
}

/* animations */

#mouse1 {
  animation-name: mouse1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes mouse1 {
  0% {
    transform: translate(-500%, -150%);
  }
  30% {
    transform: translate(10%, 110%);
  }
  70% {
    transform: translate(200%, 30%);
  }
  100% {
    transform: translate(700%, 400%);
  }
}

#cat2 {
  animation-name: cat2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cat2 {
  0% {
    transform: translate(-300%, 75%);
  }
  30% {
    transform: translate(200%, -210%) scale(0.4);
  }
  70% {
    transform: translate(10%, -180%);
  }
  100% {
    transform: translate(-300%, 200%);
  }
}

#mouse2 {
  animation-name: mouse2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes mouse2 {
  0% {
    transform: translate(500%, -150%);
  }
  30% {
    transform: translate(-10%, 110%);
  }
  70% {
    transform: translate(200%, 200%) scale(0.75);
  }
  100% {
    transform: translate(300%, 400%);
  }
}

#cat1 {
  animation-name: cat1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes cat1 {
  0% {
    transform: translate(-500%, -150%);
  }
  30% {
    transform: translate(10%, 110%) scale(1.25) rotate(360deg);
  }
  70% {
    transform: translate(200%, 30%);
  }
  100% {
    transform: translate(700%, 400%);
  }
}
